/* share style */
main{
    max-width: 1140px;
    margin: 20px auto;
     
}
body{
    background-color: black;
}
img{
    width:100% ;
}
button{
    cursor: pointer;
    background-color: aqua;
    padding: 10px; 
    border-radius: 5px;   
    font-size: 15px;

    
}
button:hover{
    box-shadow: 0px 0px 10px 3px orange;
    background-color: black;
    color: white;
    border: none;
}
.prices{
    font-weight: bolder;
    color: aliceblue;
}
/* Products */
.productContainer{
    display: flex;
    justify-content: center;
    gap:20px;
    margin: 50px auto;
     


}
.Card{
    border: 2px solid tomato;
    padding: 20px;
    color: white;
    max-width: 200px;
}
.image-1st{
    max-height: 180px;
}